@model Nhom8_IMUA.Models.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Hoá đơn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.TenDangNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.TenDangNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhiVanChuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhiVanChuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayMua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayMua)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaHD }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
