@model List<Nhom8_IMUA.Models.GioHang>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">
    <div class="main-container">
        <div class="buoc">
            <a href="#">Trang chủ</a>
            <span>Giỏ hàng</span>
        </div>
        @if (Model != null)
        {
            <p>Giỏ hàng có: <b>@Session["count"]</b></p>
            <p>Tổng tiền: <b style="color: Red" id="thanhTien_t"></b></p>
            <table cellspacing="4" cellpadding="4" rules="all" border="1" class="tableCart" style="background-color: white">
                <tbody>
                    <tr>
                        <th>Hình ảnh</th>
                        <th>Sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr id="product-@item.Product.MaSP">
                            <td><a href="#"><img src="~/assets/Images/SanPham/@item.Product.AnhDaiDien" width="100px" height="150px" alt="Hình ảnh sản phẩm" class="img"></a></td>
                            <td>
                                <a href="#" class="cart">@item.Product.TenSP</a>
                                <div class="price">
                                    <span class="giamoi">@string.Format("{0:c0}", item.Product.GiaMoi)</span>
                                    <del>@string.Format("{0:c0}", item.Product.GiaCu)</del>
                                </div>
                            </td>
                            <td><input type="text" id="sanpham" class="soluong" value="@item.Quantity" maxlength="3" onchange="change()"></td>
                            <td>
                                @{ var ThanhT = item.Product.GiaMoi * item.Quantity; }
                                <strong class="tien">@string.Format("{0:c0}", ThanhT)</strong>
                                <br />
                                <a href="" data-id="@item.Product.MaSP" class="remove-cart">Xóa</a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Giỏ hàng trống</p>
        }
        <div class="cartTong">
            Tạm tính: <b id="thanhTien_d"></b>
        </div>
        <div class="cartTong">
            @{ var phi = 10000; }
            Phí vận chuyển: <b id="phi">@phi.ToString("N0")</b>
        </div>
        <div class="cartTong">
            
            Tổng tiền thanh toán: <b id="tong"></b>
        </div>
        <div class="form-order">
            <h1 class="form-order-tt">
                <i class="fa fa-play"></i>Thông tin địa chỉ nhận hàng
            </h1>
            <form class="form-content" id="formQuickOrder">
                <div class="form-div">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </div>
                        <input type="text" class="form-control" id="txtFullName" placeholder="Họ tên (*)">
                    </div>
                </div>
                <div class="form-div">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <input type="text" class="form-control" id="txtPhone" placeholder="Số điện thoại (*)">
                    </div>
                </div>
                <div class="form-div">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-address-card-o"></i>
                        </div>
                        <input type="text" class="form-control" id="txtAddress" placeholder="Địa chỉ (*)">
                    </div>
                </div>
                <div class="form-div">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <input type="text" class="form-control" id="txtEmail" placeholder="Email để liên hệ">
                    </div>
                </div>
                <div class="form-div">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-comment-o"></i>
                        </div>
                        <textarea rows="3" class="form-control" id="txtNote" placeholder="Ghi chú đơn hàng"></textarea>
                    </div>
                </div>
                <div class="form-div">
                    <a href="" class="btn" id="btnSend"><h2 class="btnSubmit">Hoàn tất đơn hàng</h2></a>
                </div>
                <div>
                    <input id="ct101" type="checkbox" name="ctl01">
                    <label for="ct101">Tôi đồng ý với các chính sách và quy định mua hàng tại website</label>
                    <br />
                    <div style="margin-top: 10px">
                        <span disabled="disabled" style="color:Red;">
                            <input id="ctl02" type="checkbox" name="ctl02" checked="checked" disabled="disabled">
                            <label for="ctl02">Phương thức thanh toán: NHẬN HÀNG VÀ THANH TOÁN TẠI NHÀ !</label>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var ThanhTien = 0;

    var val = document.getElementsByClassName("soluong");
    var giamoi = document.getElementsByClassName("giamoi");
    for (let i = 0; i < giamoi.length; i++) {
        ThanhTien += parseFloat(giamoi[i].innerText.replace(/[^0-9]+/g,"")) * parseFloat(val[i].value);
    }
    console.log(ThanhTien);
    document.getElementById("thanhTien_t").innerHTML = ThanhTien.toLocaleString('it-IT')+" đ";
    document.getElementById("thanhTien_d").innerHTML = ThanhTien.toLocaleString('it-IT')+" đ";
    document.getElementById("tong").innerHTML = (ThanhTien + 10000).toLocaleString('it-IT') + " đ";

    function change() {
        var val = document.getElementsByClassName("soluong");
        var giamoi = document.getElementsByClassName("giamoi");
        var tien = document.getElementsByClassName("tien");
        for (let i = 0; i < giamoi.length; i++) {
            ThanhTien += parseFloat(giamoi[i].innerText.replace(/[^0-9]+/g, "")) * parseFloat(val[i].value);
            tien[i].innerHTML = ThanhTien.toLocaleString('it-IT', { style: 'currency', currency: '' }) + " đ";
        }
        console.log(ThanhTien);
        
        document.getElementById("thanhTien_t").innerHTML = ThanhTien.toLocaleString('it-IT') + " đ";
        document.getElementById("thanhTien_d").innerHTML = ThanhTien.toLocaleString('it-IT') + " đ";
        document.getElementById("tong").innerHTML = (ThanhTien + 10000).toLocaleString('it-IT') + " đ";
    }
</script>
@section script{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".remove-cart").click(function () {
                var model = {};
                //lấy id sản phẩm
                model.Id = $(this).data("id");
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RemoveCart", "Cart")',
                    data:  JSON.stringify(model) ,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        $('#CartCount').text("(" +(@Session["count"] - 1) + ")");
                        $('#CartCout-1').text("(" + (@Session["count"] - 1) + ")");
                        $("#product-" + model.Id).remove();
                        var ThanhTien = 0;

                        var val = document.getElementsByClassName("soluong");
                        var giamoi = document.getElementsByClassName("giamoi");
                        for (let i = 0; i < giamoi.length; i++) {
                            ThanhTien += parseFloat(giamoi[i].innerText.replace(/[^0-9]+/g, "")) * parseFloat(val[i].value);
                        }
                        console.log(ThanhTien);
                        document.getElementById("thanhTien_t").innerHTML = ThanhTien.toLocaleString('it-IT') + " đ";
                        document.getElementById("thanhTien_d").innerHTML = ThanhTien.toLocaleString('it-IT') + " đ";
                        document.getElementById("tong").innerHTML = (ThanhTien + 10000).toLocaleString('it-IT') + " đ";
                    },
                    error: function () {
                        alert("Lỗi trong khi xóa vào giỏ hàng!");
                    }
                });
                return false;
            });
        });
    </script>
}


